[submodule "processing"]
	path = Code/A4S/processing
	url = https://github.com/damellis/processing.git
[submodule "ArduinoUploader"]
	path = Code/ArduinoUploader
	url = https://github.com/thomaspreece10/ArduinoUploader
