[submodule "processing"]
	path = Code/A4S/processing
	url = https://github.com/firmata/processing
[submodule "ArduinoUploader"]
	path = Code/ArduinoUploader
	url = https://github.com/thomaspreece10/ArduinoUploader
