[submodule "processing"]
	path = processing
	url = https://github.com/damellis/processing.git
[submodule "ArduinoUploader"]
	path = ArduinoUploader
	url = https://github.com/thomaspreece10/ArduinoUploader
