101 ICON "microcontroller.ico"

1 VERSIONINFO 
FILEVERSION 1,0,0,0 
PRODUCTVERSION 1,0,0,0 
FILEOS 0x40004
FILETYPE 0x1
{ 
BLOCK "StringFileInfo" 
{ 
 BLOCK "040904b0" 
 { 
  VALUE "Comments", "Helps start Arduino Helper Server for Scratch."
  VALUE "CompanyName", "" 
  VALUE "FileVersion", "1.0.0.0" 
  VALUE "FileDescription", "main" 
  VALUE "InternalName", "main" 
  VALUE "LegalCopyright", "" 
  VALUE "LegalTrademarks", "" 
  VALUE "OriginalFilename", "main.exe" 
  VALUE "ProductName", "A4S-helperApp" 
  VALUE "ProductVersion", "1.0.0.0" 
 } 
}
BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x0409, 0
}
}
